.common{
    text-align: center;
}

.home_main{
    margin-top : 60px;
}

.home_h1{
    font-weight: 700;
    font-size : 55px;
}

.home_p{
    color : gray;
    font-weight: 490;
    font-size: 20px;
}

.home_overline{
    text-decoration: line-through;
}